body {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

.intro {
    padding-right: 14rem;
    line-height: 2;
}

.red {
    color: #e80036;
}

.muted {
    color: #888888;
}

.dark {
    background-color: black;
    color: white;
}

.py-10 {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.py-8 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.py-7 {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

@media (max-width: 767px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.2rem;
    }
}